*{
    box-sizing: border-box;
    margin: 0;
}
#clockContainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background-color: aqua;
    background: url("clock.png") no-repeat center center/cover;
    margin: auto;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.4%;
    height: 18%;
    top: 38%;
    left: 49.7%;
    opacity: 0.8;
}
#minute{
    width: 1.2%;
    height: 26%;
    top: 30%;
    left: 49.7%;
    opacity: 0.8;
}
#second{
    width: 0.8%;
    height: 32%;
    top: 24%;
    left: 49.7%;
    opacity: 0.8;
}